{% extends "layout.html" %}
{% block title %}Features{% endblock %}
{% block body %}





<div class="container features first row d-flex align-items-center">
    <div class="col-12 col-lg-4">
        <span class="norm">the easiest way to get rid of </span>
        <span class="imp"> what you don't need </span>
        <span class="norm"> and take </span>
        <span class="imp"> what you need </span>
        <span class="norm">in the student stuff exchange</span>
        <span class="imp">SSE!</span><br>

    </div>
    <div class="col-sm-12 col-lg-8 d-flex justify-content-center img-first">
        <img src="/static/first.svg">
    </div>
</div>

<div class="container features second row">
    <div class="col-12 col-lg-4">
        <span class="imp">No money? No problem.</span><br>
        <span class="norm">you don't have to buy </span>
        <span class="imp">everything! </span><br>
        <span class="norm">Many of your mates have</span>
        <span class="imp">many things</span>
        <span class="norm">for you</span><br>
        <span class="imp">connect with them now!</span><br><br>
    </div>
    <div class="col-sm-12 col-lg-8 d-flex justify-content-center img-second">
        <img src="/static/second.svg">
    </div>
</div>

<div class="container features third row">
    <div class="col-12 col-lg-4">
        <span class="norm">Intergrate with each other</span>
        <span class="imp">by posting</span>
        <span class="norm">what you have for others and</span>
        <span class="imp">by searching</span><br>
        <span class="imp">in their posts!</span><br><br>
    </div>
    <div class="col-sm-12 col-lg-8 d-flex justify-content-center img-third">
        <img src="/static/third.svg">
    </div>
</div>

<div class="container features third row">
    <div class="col-12 col-lg-4">
        <span class="norm">Open from any</span>
        <span class="imp">device</span>
        <span class="norm">with a mobile-comptable UI</span>
        <span class="imp">at the same functionality</span><br>
    </div>
    <div class="col-sm-12 col-lg-8 d-flex justify-content-center img-forth">
        <img src="/static/forth.svg" width="600" height="200">
    </div>
</div>

<div class="container features third row">
    <div class="col-12 col-lg-4">
        <span class="imp">Supports Dark Mode</span><br>
        <span class="norm">full support of dark mode</span>
        <span class="imp">pages, posts and chats</span>
    </div>
    <div class="col-sm-12 col-lg-8 d-flex justify-content-center img-fifth">
        <img src="/static/fifth.svg">
    </div>
</div>
















{% endblock %}